<h1>LISTA FALESIE</h1>

<% falesie.forEach(function(falesia)  { %>
    <li><%= falesia.nome %> 
        <%= falesia.longitudine %> 
        <%= falesia.latitudine %>
        <%= falesia.regione %>
        <%= falesia.citta %>
        <%= falesia.tipo %>
        <%= falesia.descrizione %>
    </li>
<% }); %>

<h1>GAY</h1>