<h1 style="text-align: center;">LISTA FALESIE</h1>
<!--
<% falesie.forEach(function(falesia)  { %>
    <li><%= falesia.nome %> 
        <%= falesia.longitudine %> 
        <%= falesia.latitudine %>
        <%= falesia.regione %>
        <%= falesia.citta %>
        <%= falesia.tipo %>
        <%= falesia.descrizione %>
    </li>
<% }); %>
-->

<% falesie.forEach(function(val)  { %>
    <li><%= val %> 
    </li>
<% }); %>